@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

body {
  margin: 0;
}

.site-navigation,
.navigation-logo,
.navigation-link,
.navigation-link ul {
  display: flex;
}

.site-navigation {
  background-color: #1f2937;
  color: white;
  justify-content: space-around;
}

.site-navigation p {
  font-size: 24px;
  font-family: 'Merriweather Sans', sans-serif;
}

.navigation-logo img {
  width: 150px;
}
.navigation-link {
  justify-content: center;
  font-family: 'Lato', sans-serif;
  align-items: center;
  margin-left: 150px;
}

.navigation-link li {
  font-size: 18px;
  margin-left: 50px;
  list-style: none;
}

.navigation-link a {
  text-decoration: none;
  color: white;
}

.content-wrapper {
  display: flex;
  height: 600px;
  margin: auto;
  padding: 100px;
  justify-content: center;
  align-items: center;
  font-family: 'Merriweather Sans', sans-serif;
  color: white;
  background-color: #1f2937;
}

.content-headline {
  padding-top: 50px;
  width: 400px;
  height: auto;
  margin-right: 50px;
}

.headline-button {
  background-color: #3882f6;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  color: white;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 15px;
  font-style: bold;
}

.content-headline p {
  opacity: 0.7;
  font-style: italic;
}

.content-wrapper > div:nth-child(2) img {
  width: 700px;
  height: auto;
}

.content-pictures-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.content-pictures {
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture-with-caption {
  max-width: 350px;
  margin: 10px;
  font-family: 'Lato', sans-serif;
}

.picture-with-caption img {
  width: 300px;
  height: 200px;
  border: 5px solid #3882f6;
  border-radius: 20px;
}

.quote-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.quote-wrapper p {
  font-size: 36px;
  font-style: italic;
  font-family: 'Lato', sans-serif;
}

.content-quote-author {
  text-align: right;
  font-weight: bold;
}

.contact-wrapper {
  display: flex;
  background-color: gray;
  margin: 0;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.contact-section {
  display: flex;
  border-radius: 10px;
  background-color: #3882f6;
  padding: 30px;
}

.contact-text {
  flex-shrink: 0;
  margin: 0px 100px;
  color: white;
  font-family: 'Lato', sans-serif;
}

.contact-text > p:nth-child(1) {
  font-size: 24px;
}

.contact-button {
  padding-top: 40px;
  margin-right: 100px;
  justify-content: flex-end;
}

.contact-button button {
  background-color: #3882f6;
  width: 150px;
  height: 50px;
  border: 2px solid white;
  border-radius: 10px;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 15px;
  font-style: bold;
}

.contact-button a {
  text-decoration: none;
  color: white;
}

.content-footer {
  display: flex;
  background-color: #1f2937;
  color: white;
  font-family: 'Lato', sans-serif;
  justify-content: center;
  align-items: center;
}
